.contactForm {
    background: white;
    box-shadow: 20px 20px $brightYellow;
    flex: 0 1 60%;
    padding: 70px 50px 0px 50px;
    position: relative;
    top: -100px;
    @include forSize(belowTabletLandscape) {
        flex-direction: column;
        width: 90%;
    }
    @include forSize(belowPhone) {
        padding: 50px 20px 0px 20px;
    }
}   

form {
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    @include forSize(belowTabletLandscape) {
        .nameEntry {
            margin-bottom: 75px;
        }
    } 

    .nameEntry,
    .emailEntry {
        flex: 0 1 48%;
        position: relative;
        @include forSize(belowTabletLandscape) {
            flex: 0 1 100%;
        }  
        @include forSize(belowPhone) {
            flex: 0 1 100%;
        } 


        label {
            position: absolute;
            top: -30px;
            left: 20px;
            text-transform: uppercase;
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 2px solid $black;
        }
    }

    textarea {
        flex: 1 0 100%;
        margin-top: 50px;
        resize: none;
        border: 2px solid $black;
        padding: 25px;
    }

    textarea::placeholder {
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    input[type=submit] {
        width: 100%;
        margin: 50px 0 50px 0;
    }
}

.labelHelper {
  position: absolute;
  opacity: 0;
  transition: .2s;
  bottom: 85%;
  left: 0;
  z-index: 1;
  text-transform: uppercase;
}

.inputText:focus + .labelHelper {
    opacity: 1;
    padding: 4px;
}