header.homeHeader {
    background: url("../assets/header-home.jpg") $white no-repeat;
    background-size: contain;
    @include forSize(belowTabletPortrait) {
            background-position: right bottom;
            background-size: cover;
    }
    @include forSize(belowPhone) {
            background-position: center bottom;
    }

    nav {
        justify-content: flex-end;
    }
    nav.flex {
        padding-top: 10px;
    }

    h1 {
        margin: 50px 0 0 175px;
        @include forSize(belowDesktop) {
            margin: 50px 0 0 200px;
            font-size: 2.4rem;
        }
        @include forSize(belowTabletLandscape) {
            margin: 0;
            padding: 20px 0 250px 20%;
            font-size: 2.2rem;
        }
        @include forSize(belowTabletPortrait) {
            padding: 20px 0 275px 15%;
        }
        @include forSize(belowPhone) {
            padding: 20px 0 275px 5%;
        }
    }
    img {
        margin-top: 40px;
        width: 55%;
        @include forSize(belowDesktop) {
            margin-top: 0px;
        }
        @include forSize(belowTabletLandscape) {
            display: none;
        }
    }
}